.historyItem {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    padding-bottom: 30px;
}

.imageName {
    font-size: 12px;
    text-align: left;
}

.redoButton {
    font-size: 12px;
    width: 50%;
    font-weight: bold;
    text-align: center;
}

.history {
    height: 600px;
    overflow: scroll;
}

.historyHeader {
    display: grid;
    grid-template-columns: 60% 40%;
}